@{ Layout = "~/Views/Shared/adminMasterView.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>
</head>
<body>


    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->


            <div class="alert alert-danger" id="delete" style="display:none;">

                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                <strong>Deleted!</strong> Record Deleted Successfully.

            </div>



            <div class="page-bar">

                <ul class="page-breadcrumb">

                    <li>
                        <a href="index.html">Dasboard</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Introduction</a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-bell"></i> Action
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-shield"></i> Another action
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Something else here
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-bag"></i> Separated link
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->

            <h3 class="page-title">
                PAGE LIST

                <small>INFORMATION</small>

            </h3>

            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->

            <div class="m-heading-1 border-green m-bordered">
                <div class="btn-group">
                    <a class="btn sbold green" href="Introduction_Add?introduction"> Add New Content </a>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->

                    <div class="portlet light bordered">

                        <div class="portlet-title">

                            <div class="caption font-dark">

                                <i class="icon-settings font-dark"></i>

                                <span class="caption-subject bold uppercase">Column Reordering</span>

                            </div>

                            <div class="tools"> </div>
                        </div>

                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <td>Title</td>
                                        <td>Details</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Introduction 1</td>
                                        <td> Department of Tourist Services created in 1976 by Federal Government as attached department of Ministry of Tourism, Government of Pakistan. The Regional office of DTS was established in 1988 and was working under the Administrative control of   Federal Government till 31st, March, 2011. Now after devolution process under the 18th amendment this Department came under the administrative control of government of Khyber Pakhtunkhwa./td>
                                        <td>
                                            <a href="/admin/Edit_Page" class="btn btn-warning btn-xs">EDIT</a><a onclick="return confirm('This will delete Page, continue?')" href="admin/Deletepages" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>



                                    <tr class="odd gradeX">
                                        <td>Introduction2</td>
                                        <td>
                                            Department of Tourist Services created in 1976 by Federal Government as attached department of Ministry of Tourism, Government of Pakistan. The Regional office of DTS was established in 1988 and was working under the Administrative control of   Federal Government till 31st, March, 2011. Now after devolution process under the 18th amendment this Department came under the administrative control of government of Khyber Pakhtunkhwa.

                                            The Directorate of Tourist Services have following three Act for achievement of its objectives:

                                            •The Pakistan Hotel and Restaurants Act 1976 ( The Khyber Pakhtunkhwa Hotel & Restaurants (Amendment) Act 2013
                                            •The Pakistan Travel Agencies Act 1976 ( The Khyber Pakhtunkhwa Travel Agencies (Amendment) Act 2013
                                            •The Pakistan Tourist Guides Act 1976 ( The Khyber Pakhtunkhwa Tourist Guides (Amendment) Act 2013
                                        </td>
                                        <td>
                                            <a href="/admin/Edit_Page" class="btn btn-warning btn-xs">EDIT</a><a onclick="return confirm('This will delete Page, continue?')" href="admin/Deletepages" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>

            </div>

        </div>

        <!-- END CONTENT BODY -->

    </div>
</body>
</html>

