@{ Layout = "~/Views/Shared/adminMasterView.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <title>Slider_Add</title>
</head>
<body>

    <!-- BEGIN PAGE BAR -->




    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->


            <div class="alert alert-danger" id="delete" style="display:none;">

                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                <strong>Deleted!</strong> Record Deleted Successfully.

            </div>

            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.php">Dashboard</a>
                        <i class="fa fa-circle"></i>

                    </li>
                    <li>
                        <a href="#">Edit / Update Slider</a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul>

                <!--   <div class="page-toolbar">

                      <div class="btn-group pull-right">

                          <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions

                              <i class="fa fa-angle-down"></i>

                          </button>

                          <ul class="dropdown-menu pull-right" role="menu">

                              <li>

                                  <a href="#">

                                      <i class="icon-bell"></i> Action</a>

                              </li>

                              <li>

                                  <a href="#">

                                      <i class="icon-shield"></i> Another action</a>

                              </li>

                              <li>

                                  <a href="#">

                                      <i class="icon-user"></i> Something else here</a>

                              </li>

                              <li class="divider"> </li>

                              <li>

                                  <a href="#">

                                      <i class="icon-bag"></i> Separated link</a>

                              </li>

                          </ul>

                      </div>

                  </div> -->

            </div>

            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->

            <h3 class="page-title">
                PAGE LIST

                <small>INFORMATION</small>

            </h3>

            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->


            <div class="row">

                <div class="col-md-12">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->

                    <div class="portlet light bordered">

                        <div class="portlet-title">

                            <div class="caption font-dark">

                                <i class="icon-settings font-dark"></i>

                                <span class="caption-subject bold uppercase">Add New Record</span>
                            </div>
                            <div class="tools"> </div>
                        </div>

                        <div class="portlet-body">
                            <form action="" method="post" enctype="m">
                                <div class="form-group">
                                    <label for="title">Image Title:</label>
                                    <input type="text" class="form-control" name="title" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Image:</label>
                                    <input type="file" class="form-control" name="file" id="file">

                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                        <p class="full-right">
                            <label for="pwd">Old Image will be stay if not update :</label><br>
                            <img src="~/adminCSS/assets\Uploads\travel_images/Chitral.jpg" width="400px" height="200px">
                        </p>

                    </div>



                </div>

            </div>

        </div>

        <!-- END CONTENT BODY -->

    </div>
</body>
</html>

