<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">


<head>
    <!-- Basic -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Responsive, HTML5, Template" />
    <meta name="description" content="Responsive HTML5 Template" />

    <title>DTS</title>

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/font-awesome/css/font-awesome.min.css" media="screen">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/colors.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
</head>
<body class="boxed">
    <div class="container-box clearfix">
        <div class="navbar-fixed-top"></div>
        <!-- Headline Start -->
        <section id="newsticker">
            <div class="headline-wrapper">
                <div class="container">
                    <div class="row">
                        <!-- Newsticker start -->
                        <div class="col-md-2 col-sm-3 col-xs-5">
                            <div class="headline-title color-6">
                                <h5>LATEST NEWS</h5>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-9 col-xs-7 no-padding" id="side_news1">
                            @*<ul class="ticker clearfix">
                                   <li><a href="single.html">Mehmood  Khan (Chief Minister KPK)</a></li>
                                    <li><a href="single.html">Chief Secretary Message</a></li>
                                </ul>*@
                        </div><!-- Newsticker end -->
                        <!-- Search Form start -->
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <div class="fa-icon-wrap">
                                <a class="facebook" href="https://www.facebook.com/DTS.KPK/" data-toggle="tooltip" data-placement="left" title="Facebook"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                                 <a class="linkedin" href="https://www.linkedin.com/feed/?trk=onboarding-landing" data-toggle="tooltip" data-placement="left" title="Linkedin"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                                
                                <a class="youtube" href="https://www.youtube.com/channel/UCyHQGyUIi2I2VpUY9z_e0WA/featured  " data-toggle="tooltip" data-placement="left" title="Youtube"><i aria-hidden="true" class="fa fa-youtube"></i></a>
                                  </div>
                        </div><!-- Search Form end -->
                    </div>
                </div>
            </div>
        </section><!-- Headline End -->
        <!-- Header Start -->
        <section class="header-wrapper clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h1 class="logo">
                            <a href="http://dts.gkp.pk/">
                                <img src="~/online_services/assest/logo.png" style="    width: 174%;
    height: 78px;" alt="logo" />
                            </a>
                        </h1>
                    </div>
                    <div class="col-md-1 hidden-sm"></div>
                    <div class="col-md-8 col-sm-9">
                        <div class="ad-space ads-768">
                            <a href="#" target="_blank"><img src="~/img/urdu.jpg" alt="header-ad" /></a>
                        </div>
                        <div class="ad-space ads-468">
                            <a href="#" target="_blank"><img src="~/img/urdu.jpg" alt="pak" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Header End -->
        <!-- Menu Navigation Start -->
        <div class="navbar navbar-default megamenu clearfix">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#mainmenu" class="navbar-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="http://dts.gkp.pk"><img class="img-responsive" src="~/online_services/assest/logo.png" alt="logo" /></a>
                        </div>
                        <div id="mainmenu" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" style="margin-left: -7px;">
                                <li class=""><a href="http://dts.gkp.pk">Home </a></li>

                                <li class="active home dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Introduction <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Home/Introduction">INTRODUCTION</a></li>
                                        <li><a href="/Home/Mission">MISSION</a></li>
                                        <li><a href="/Home/Vision">VISION</a></li>
                                    </ul>
                                </li>
                                @*  <li class="dropdown"><a href="/Home/Objective">OBJECTIVE</a></li>*@
                                <li><a href="/Home/Advertisement">ADVERTISEMENT </a></li>
                                <li><a href="/OnlineServices/Index">ONLINE SERVICES </a></li>
                                <li><a href="http://175.107.63.137">E SERVICES </a></li>
                                <li><a href="/Home/Download" title="Home Department Public Information Officers under the KP RTI Act 2013" rel="bookmark">DOWNLOAD</a></li>
                                <li><a href="/Home/Contact">Contact Us </a></li>
                                <li><a href="http://dts.gkp.pk/Admin/Login">Login </a></li>
                            </ul>
                            <form class="navbar-form navbar-right" role="search">
                                <input type="text" id="search" name="search" placeholder="Search..." style="width: 150px;margin-right: -23px;">
                                <button type="submit" id="search-submit"><i class="fa fa-search" style="    margin-right: -31px;"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody();
        <!-- Footer Sidebar Start -->
        <section class="footer-wrapper clearfix">
            <div class="container">
                <div class="row">
                    <!-- Footer Widgets Start -->
                    <div class="col-md-3 col-sm-6">
                        <!-- Text Widget Start -->
                        <div class="widget text-widget">

                            <img class="img-responsive" src="~/img/footer-logo.png" alt="logo" />

                            <!-- Social Icons Start -->
                            <div class="fa-icon-wrap">
                                <a class="facebook" href="https://www.facebook.com/DTS.KPK/"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/feed/?trk=onboarding-landing" data-toggle="tooltip" data-placement="left" title="Linkedin"><i aria-hidden="true" class="fa fa-linkedin"></i></a>

                                @* <a class="twitter" href=""><i aria-hidden="true" class="fa fa-twitter"></i></a>
        <a class="instagram" href=""><i aria-hidden="true" class="fa fa-instagram"></i></a>
        <a class="google-plus" href=""><i aria-hidden="true" class="fa fa-google-plus"></i></a>
        <a class="dribbble" href=""><i aria-hidden="true" class="fa fa-dribbble"></i></a>*@
                                <a class="youtube" href="https://www.youtube.com/channel/UCyHQGyUIi2I2VpUY9z_e0WA/featured  "><i aria-hidden="true" class="fa fa-youtube"></i></a>
                            </div><!-- Social Icons End -->
                        </div><!-- Text Widget End -->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Categories Widget Start -->
                        <div class="widget categories-widget">
                            <div class="widget-title">
                                <h2>Quick Links</h2>
                            </div>
                            <ul class="category-list">
                                <li>
                                    <a href="">INTRODUCTION</a>
                                </li>
                                <li><a href="">MISSION</a></li>

                                <li><a href="">VISION</a></li>
                            </ul>
                        </div><!-- Categories Widget End -->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Categories Widget Start -->
                        <div class="widget categories-widget">
                            <div class="widget-title">
                                <h2>Quick Links</h2>
                            </div>
                            <ul class="category-list">
                                <li><a href="">ADVERTISEMENT </a></li>
                                <li><a href="">ONLINE SERVICES </a></li>
                                <li><a href="" title="Home Department Public Information Officers under the KP RTI Act 2013" rel="bookmark">DOWNLOAD</a></li>

                            </ul>
                        </div><!-- Categories Widget End -->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Categories Widget Start -->
                        <div class="widget categories-widget">
                            <div class="widget-title">
                                <h2>Quick Links</h2>
                            </div>
                            <ul class="category-list">
                                <li><a href="" title="Home Department Public Information Officers under the KP RTI Act 2013" rel="bookmark">DOWNLOAD</a></li>
                                <li><a href="">Contact Us </a></li>
                                <li><a href="http://dts.gkp.pk/Admin/Login">Login </a></li>
                            </ul>
                        </div><!-- Categories Widget End -->
                    </div>


                </div><!-- Footer Widgets End -->
                <!-- Copyrights Start -->
                <div class="copyrights">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fbt-footer-nav">
                                <p>COPYRIGHT © 2018 Year. All Rights Reserved.</p>
                                <p>Powered by <a href="" target="_blank">Tourism Corporation Khyber Pakhtunkhwa</a> </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fbt-footer-nav">
                                <ul>
                                    <li><a href="">Home</a></li>
                                    <li><a href="">FAQ</a></li>
                                    <li><a href="">About</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- Copyrights End -->
            </div>
        </section><!-- Footer Sidebar End -->

        <a href="http://dts.gkp.pk" id="BackToTop" style="bottom: -50px; display: inline-block;"><i class="fa fa-angle-up"></i></a>
        <div class="navbar-fixed-bottom"></div>
    </div><!-- .container-box -->
    <!-- JAVASCRIPTS -->

    <script type="text/javascript" src="~/js/plugins/jquery-1.12.3.min.js"></script>

    <script type="text/javascript" src="~/js/plugins/cycle.all.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/resizesensor.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/theia-sticky-sidebar.js"></script>
    <script type="text/javascript" src="~/js/functions/main.js"></script>

    @*<script src="~/toast/toastr.min.js"></script>
    <script src="~/DataManager/AjaxHandler.js"></script>
    <script src="~/DataManager/Validate.js"></script>
    <script src="~/MyScripts/website/index.js" type="text/javascript"></script>*@

    @*<script>
        var param = [];

        var proc = 'slider_images_get';
        SelectorNoSession1(param, proc).then(function (result) {
            $res = JSON.parse(result);

            if ($res.length != []) {
                for ($i = 0; $i < $res["dt5"].length; $i++) {
                    $("#imageGallary").append('<div class="mySlides">' +
                        '<div class= "numbertext" >' + ' 1 / 6' + '</div>' +
                        '<img src=' + $res["dt5"][$i].image + ' style="width:63%;height: 407px;">' +
                        '</div>' +
                        //'<div class="mySlides">' +
                        //'<div class="numbertext">' + '2 / 6' + '</div>' +
                        //'<img src="img/2.jpg" style="width:63%;height: 407px;">' +
                        //'</div>' +

                        '<a class="prev" onclick="plusSlides(-1)">' + '❮' + '</a>' +
                        '<a class="next" onclick="plusSlides(1)">' + '❯' + '</a>' +
                        '<div class="row">' +
                        '<div class="column">' +
                        '<img class="demo cursor" src=' + $res["dt5"][$i].image + ' style="width:40%" onclick="currentSlide(1)" alt="The Woods">' +
                        '</div>' +
                        //'<div class="column">' +
                        //'<img class="demo cursor" src="img/2.jpg" style="width:40%" onclick="currentSlide(2)" alt="Cinque Terre">' +
                        //'</div>' +
                        '</div>');
                }
            }
        });
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            alert(n);
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";

            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }</script>*@


    @*<script src="~/DataManager/AjaxHandler.js"></script>
        <script src="~/DataManager/Validate.js"></script>
        <script src="~/MyScripts/website/masterpage.js" type="text/javascript"></script>*@

</body></html>